<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    
    <key>GIDClientID</key>
    <string>$(IOS_CLIENT_ID)</string>
    
    <key>GIDServerClientID</key>
    <string>$(CLIENT_ID_GOOGLE_AUTH)</string>
    
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>$(IOS_REVERSE_CLIENT_ID)</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
